html {
    height: 100%;
}
body {
    background: url(../i/background1.jpg) right top no-repeat;
}
li a {
    font-family: "Times New Roman", serif, Verdana;
    color: cadetblue;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 20px;
    background-color: aliceblue;
}
h2.headArticle a {
    font: 24pt/1pt sans-serif;
    text-decoration: none;
    border-bottom: solid;
}
p.announcement {
    background-color: #cbeeff;
}
a.moreDetails:hover {
    text-decoration: none;
    color: #ff2128;
}
a.goToComments {
    color: grey;
}
h1.headArticle {
    text-align: center;
}
p.articleFull:first-letter{
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
}
ul.catalogCat {
    list-style-image: url(../i/marrk.png);
    background-color: aqua;
    width: 20%;
}
li ul {
    list-style-image: url(../i/marrk1.png);
    font-size: smaller;
    background-color: aliceblue;
}
li.new:after {
    content: "new";
    color: white;
    background-color: red;
    margin-left: 2px;
}
img.galleryImage {
    border: 4px solid black;
    width: 50px;
}
img.galleryImage:hover {
    border: none;
    padding: 4px;
}

input.rFrorm {
    width: 150px;
}

input.rPassword {
    width:200px;
}
input.rPassword: {
    background-color: aqua;
    color:indianred;
}
input.submit:active{
    background-color: aqua;
}
input.reset:active{
    background-color: #ff0013;
}
input.checkbox:hover{
    border: 1px;
}
input[name = "surname"]{
    text-transform: capitalize;
}
label#men:hover {
    border: 4px double black;
}
/*
Первая таблица
td{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}
#cell1{
    max-width: 50px;
}
*/

/*
td{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}
#cell1{
    max-width: 50px;
}
#td1{
    height: 40px;
}
*/

/*
вторая таблица
td{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}
#td1{
    height: 50px;
}
#td2{
    width: 33%;
    height: 50px;
}
#td4{
    width: 33%;
}
#td5{
    width: 33%;
}
#td7{
    width: 33%;
}
#table1{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
#td11{
    height: 50px;
}
#td17{
    height: 50px;
}
*/

table #registration{
    text-align:left;
    margin: auto;
}
td.textForm{
    text-align:right;
    vertical-align: text-top;
}